body{
	background-image: url('../images/backgroundship.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: 'Geostar Fill', cursive;
}
header{
	/*position: relative;*/
}

#title{
	margin-right: 75px;
	margin-left: 60%;
}

.pictureContainers{
	width: 150px;
	height: 150px;
	border: 5px solid green;
	display: inline-block;
	position: relative;
	cursor: pointer;
}

h4{
	position: absolute;

	/*margin:;*/
	/*dsisplay: inline-block;*/
}

.characterNames{
	left: 30px;
    top: -15px;
}

.characterHealth{
	position: absolute;
    bottom: -20px;
    left: 50px;
}

.characterPictures{
	position: absolute;
	width: 70%;
	left: 20px;
    top: 50px;
}

button{
	cursor: pointer;
}